@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  background: var(--Almost-White, #fffdfa);
  height: 100vh;
  padding: 28px 16px 32px 16px;
}
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-section-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-lego {
  display: none;
}
.start-section-img img {
  width: 100%;
  margin-top: 32px;
}
.burger-meniu {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  background: var(--Almost-White, #fffdfa);
  gap: 86px;
  width: 68.2%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 32.8%;
  height: 100vh;
  padding: 27px 20px 0 24px;
  z-index: 2;
}
.close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
nav ul li {
  color: var(--Dark-Space-Blue, #00001a);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
nav ul li a {
  font-family: "Inter";
  all: unset;
  color: var(--Dark-Space-Blue, #00001a);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
nav ul li a:hover {
  cursor: pointer;
  color: var(--Light-Vermillion, #f15d51);
}
.navActive {
  display: none;
}
h1 {
  color: var(--Dark-Space-Blue, #00001a);
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-top: 24px;
}
.starter-section-txtcontent p {
  margin-top: 16px;
  color: var(--Gunmetal, #5e607a);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.read-more button {
  all: unset;
  color: var(--Almost-White, #fffdfa);
  font-size: 14px;

  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
}
.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Light-Vermillion, #f15d51);
  width: 185px;
  height: 48px;
}
.navActive {
  display: none;
}
h1 {
  color: var(--Dark-Space-Blue, #00001a);
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-top: 24px;
}
.starter-section-txtcontent p {
  margin-top: 16px;
  color: var(--Gunmetal, #5e607a);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.read-more button {
  all: unset;
  color: var(--Almost-White, #fffdfa);
  font-size: 14px;

  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
}
.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Light-Vermillion, #f15d51);
  width: 185px;
  height: 48px;
}
.news-section {
  background: var(--Dark-Space-Blue, #00001a);
  width: 100%;
  padding: 24px 20px 24px 21px;
  margin-top: 65px;
}
.news-section h2 {
  color: var(--Yellow, #e9aa52);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.news-txtContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.news-txtContent h3 {
  color: var(--Almost-White, #fffdfa);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
.news-txtContent p {
  color: var(--Silver, #c5c6ce);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.hydrogen-fueled {
  margin-top: 35px;
}
.navActive {
  display: none;
}
h1 {
  color: var(--Dark-Space-Blue, #00001a);
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-top: 24px;
}
.starter-section-txtcontent p {
  margin-top: 16px;
  color: var(--Gunmetal, #5e607a);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.read-more button {
  all: unset;
  color: var(--Almost-White, #fffdfa);
  font-size: 14px;

  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
}
.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Light-Vermillion, #f15d51);
  width: 185px;
  height: 48px;
}
.news-section {
  background: var(--Dark-Space-Blue, #00001a);
  width: 100%;
  padding: 24px 20px 24px 21px;
  margin-top: 65px;
}
.news-section h2 {
  color: var(--Yellow, #e9aa52);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.news-txtContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.news-txtContent h3 {
  color: var(--Almost-White, #fffdfa);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
.news-txtContent p {
  color: var(--Silver, #c5c6ce);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.border {
  width: 100%;
  height: 1px;
  margin-bottom: 31px;
  background: #5e607a;
  margin-top: 29px;
}
.hydrogen-fueled {
  margin-top: 35px;
}
.ending-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  padding: 64px 0;
  justify-content: flex-start;
}
.navActive {
  display: none;
}
h1 {
  color: var(--Dark-Space-Blue, #00001a);
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-top: 24px;
}
.starter-section-txtcontent p {
  margin-top: 16px;
  color: var(--Gunmetal, #5e607a);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.read-more button {
  all: unset;
  color: var(--Almost-White, #fffdfa);
  font-size: 14px;

  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
}
.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Light-Vermillion, #f15d51);
  width: 185px;
  height: 48px;
}
.news-section {
  background: var(--Dark-Space-Blue, #00001a);
  width: 100%;
  padding: 24px 20px 24px 21px;
  margin-top: 65px;
}
.news-section h2 {
  color: var(--Yellow, #e9aa52);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.news-txtContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.news-txtContent h3 {
  color: var(--Almost-White, #fffdfa);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
.news-txtContent p {
  color: var(--Silver, #c5c6ce);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.border {
  width: 100%;
  height: 1px;
  margin-bottom: 31px;
  background: #5e607a;
  margin-top: 29px;
}
.hydrogen-fueled {
  margin-top: 35px;
}
.ending-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  padding: 64px 0;
  justify-content: flex-start;
}
.number {
  color: var(--Silver, #c5c6ce);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.ending-section h3 {
  color: var(--Dark-Space-Blue, #00001a);
  font-size: 18px;
  font-weight: 800;
  margin-top: 3px;
}
.ending-par {
  color: var(--Gunmetal, #5e607a);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.ending-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.end-part {
  display: flex;
  gap: 24px;
}
.end-part img {
  width: 100px;
  height: 129px;
}
.navActive {
  display: none;
}
h1 {
  color: var(--Dark-Space-Blue, #00001a);
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-top: 24px;
}
.starter-section-txtcontent p {
  margin-top: 16px;
  color: var(--Gunmetal, #5e607a);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.read-more button {
  all: unset;
  color: var(--Almost-White, #fffdfa);
  font-size: 14px;

  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
}
.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Light-Vermillion, #f15d51);
  width: 185px;
  height: 48px;
}
.news-section {
  background: var(--Dark-Space-Blue, #00001a);
  width: 100%;
  padding: 24px 20px 24px 21px;
  margin-top: 65px;
}
.news-section h2 {
  color: var(--Yellow, #e9aa52);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.news-txtContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.news-txtContent h3 {
  color: var(--Almost-White, #fffdfa);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
.news-txtContent p {
  color: var(--Silver, #c5c6ce);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.border {
  width: 100%;
  height: 1px;
  margin-bottom: 31px;
  background: #5e607a;
  margin-top: 29px;
}
.hydrogen-fueled {
  margin-top: 35px;
}
.ending-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  padding: 64px 0;
  justify-content: flex-start;
}
.number {
  color: var(--Silver, #c5c6ce);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.ending-section h3 {
  color: var(--Dark-Space-Blue, #00001a);
  font-size: 18px;
  font-weight: 800;
  margin-top: 3px;
}
.ending-par {
  color: var(--Gunmetal, #5e607a);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.ending-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.end-part {
  display: flex;
  gap: 24px;
}
.end-part img {
  width: 100px;
  height: 129px;
}
@media only screen and (min-width: 1440px) {
  .navActive {
    display: none;
  }
  h1 {
    color: var(--Dark-Space-Blue, #00001a);
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    margin-top: 24px;
  }
  .starter-section-txtcontent p {
    margin-top: 16px;
    color: var(--Gunmetal, #5e607a);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .read-more button {
    all: unset;
    color: var(--Almost-White, #fffdfa);
    font-size: 14px;

    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4.375px;
  }
  .read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Light-Vermillion, #f15d51);
    width: 185px;
    height: 48px;
  }
  .news-section {
    background: var(--Dark-Space-Blue, #00001a);
    width: 100%;
    padding: 24px 20px 24px 21px;
    margin-top: 65px;
  }
  .news-section h2 {
    color: var(--Yellow, #e9aa52);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }
  .news-txtContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .news-txtContent h3 {
    color: var(--Almost-White, #fffdfa);
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
  }
  .news-txtContent p {
    color: var(--Silver, #c5c6ce);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  .border {
    width: 100%;
    height: 1px;
    margin-bottom: 31px;
    background: #5e607a;
    margin-top: 29px;
  }
  .hydrogen-fueled {
    margin-top: 35px;
  }
  .ending-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 64px 0;
    justify-content: flex-start;
  }
  .number {
    color: var(--Silver, #c5c6ce);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }
  .ending-section h3 {
    color: var(--Dark-Space-Blue, #00001a);
    font-size: 18px;
    font-weight: 800;
    margin-top: 3px;
  }
  .ending-par {
    color: var(--Gunmetal, #5e607a);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }

  .ending-description {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .end-part {
    display: flex;
    gap: 24px;
  }
  .end-part img {
    width: 100px;
    height: 129px;
  }
  @media only screen and (min-width: 1440px) {
    main {
      opacity: 1 !important;
    }
    .W-icon {
      opacity: 1 !important;
    }
    body {
      padding: 89px 165px 127px 129px;
    }
    .burger-meniu {
      display: none;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      position: relative;
    }

    nav {
      display: flex !important;
      width: 431px;
      height: 26px;
      left: 72%;
      justify-content: center;

      right: 100%;
      bottom: 0;
      padding: 0;

      position: absolute;
    }

    .close {
      display: none;
    }
    nav ul {
      flex-direction: row;
      gap: 40px;
      margin-top: 0;
    }

    nav ul li a {
      color: var(--Gunmetal, #5e607a);
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
    }
    .mobile-lego {
      display: none;
    }
    .desktop-lego {
      display: block;
      margin-top: 0;
    }
  }
}
