@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  background: var(--Almost-White, #fffdfa);
  height: 100vh;
  padding: 28px 16px 32px 16px;
}
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
